.header {
  position: sticky
  top: 0
  background: rgba(7,33,53,0.98)
  z-index: 5
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.3)
  &__container {
    display: flex
    justify-content: space-between
    align-items: center
    @media (max-width: 960px) {
      padding: 25px 10px
    }
  }

  &__mobile-trigger {
    @media (min-width: 960px) {
      display: none
    }
  }

  &__logo {
    width: 170px
    display: block
    color: #fff
    font-size: 18px
  }

  &__link{
    text-transform: uppercase
    &:hover {
      color: #ffffff !important
      border-color: transparent
      background: #29b6f6
    }
  }

  &__left-side {
    display: flex
    align-items: center
  }

  &__mobile-trigger {
    margin-right: 15px
  }
}


.user-nav {
  display: flex
  align-items: center
  &__item {
    &:not(:last-child) {
      margin-right: 10px
    }
    &--auth,&--chat {
      @media (max-width: 655px) {
        display: none
      }
    }
    &--mobile-trigger{
      @media (min-width: 960px) {
        display: none
      }
    }
  }
}

.drop-down-nav{
  position: relative
  &:after {
    bottom: 100%;
    right: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 12px;
    margin-right: -10px;
  }
}

.v-menu__content {
  overflow: unset
  contain: none
}
