.header {
  border-bottom: 5px solid #c8c1c1;
  &__container {
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 25px;
    padding-bottom: 15px;
  }

  &__logo {
    width: 170px
    display: block
  }

  &__link{
    display: block
    padding: 12px 15px
    border-radius: 5px
    color: #000
    background: #eee
  }
}
