.header {
  position: sticky
  top: 0
  background: rgba(7,33,53,0.98)
  z-index: 5
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.3)
  &__container {
    display: flex
    justify-content: space-between
    align-items: center
    @media (max-width: 960px) {
      padding: 25px 10px
    }
  }

  &__logo {
    width: 170px
    display: block
  }

  &__link{
    text-transform: uppercase
  }
}


.user-nav {
  display: flex
  align-items: center
  &__item {
    &:not(:last-child) {
      margin-right: 10px
    }
    &--mobile-trigger{
      @media (min-width: 960px) {
        display: none
      }
    }
  }
}
