.message-input {
  margin-left: 60px
  position: relative
  &:hover {
    .message-input-back{
      &__button {
        opacity: 1
        transform: rotate(0) scale(1)
      }
      &__text {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  &__info {
    font-size: 10px
    text-align: right;
    text-transform: uppercase
    margin-top: 12px
  }
  @media (max-width: 450px) {

  }
}

.message-input-back {
  height: 54px;
  position: absolute;
  left: -55px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity .25s;
  cursor: pointer
  &__button {
    opacity: 0;
    transform: rotate(-275deg) scale(.8);
    transition: transform .5s, opacity .3s;
    @media (max-width: 1024px) {
      opacity: 1
      transform: rotate(0) scale(1)
    }
  }
  &__text {
    margin-top: 10px
    font-size: 10px
    text-align: center
    text-transform: uppercase
    transform: translateY(20px);
    opacity: 0;
    transition: transform .5s, opacity .3s;
    @media (max-width: 1024px) {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.message-input-buttons {
  &__button {
    &:not(:last-child){
      margin-right: 10px
    }
  }
}
