.contact-section {
  background: #eee
  padding: 90px 0
  @media (max-width: 870px) {
    padding: 0
  }
  &__content{
    display: flex
    flex-wrap: wrap
  }
}

.contact-container {
  background: #fff
  padding: 30px 40px
  @media (max-width: 870px) {
    padding: 20px 15px
  }
}

.address-info {
  max-width: 450px
  padding: 41px 10px;
  text-align: left;
  box-shadow: 0px 0px 25px #d7d7d7;
  border-radius: 3px
  @media (max-width: 1263px) {
    max-width: 275px
  }

  @media (max-width: 800px) {
    max-width: 100%
    width: 100%
    padding: 15px 10px
    margin-bottom: 15px
  }
}

.single-address {
  display: flex
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 40px
  }
  p {
    margin: 0
  }
  &__icon {
    border: 1px solid #fff;
    border-radius: 100%;
    color: #fefefe;
    display: block;
    height: 50px;
    line-height: 50px;
    margin-right: 10px
    //margin: 0 25px;
    text-align: center;
    width: 50px;
    font-size: 16px;
  }
  &__info {
    color: #fff
    flex: 1
  }
}

.contact-area-form {
  flex: 1 auto
  margin-left: 25px
  @media (max-width: 800px) {
    margin-left: 0
  }
}
