.contact-section {
  background: #eee
  padding: 90px 0
  @media (max-width: 870px) {
    padding: 0
  }
}

.contact-container {
  display: flex
  justify-content: center
  align-items: center
  background: #fff
  padding: 30px 40px
  @media (max-width: 870px) {
    padding: 20px 15px
  }
}

.address-info {
  padding: 41px 10px;
  text-align: left;
  height: 100%
  box-shadow: 0px 0px 25px #d7d7d7;
}

.single-address {
  display: flex
  align-items: baseline;
  margin-bottom: 40px
  &__icon {
    border: 1px solid #fff;
    border-radius: 100%;
    color: #fefefe;
    display: block;
    height: 50px;
    line-height: 50px;
    margin-right: 10px
    //margin: 0 25px;
    text-align: center;
    width: 50px;
    font-size: 16px;
  }
  &__info {
    color: #fff
    flex: 1
  }
}
