.about-area {
  padding-top: 50px
}
.about-content {
  &__title {
    text-transform: uppercase;
    color: #6BC2F1;
    font-size: 25px;
  }
  &__subtitle {
    font-size: 35px;
    text-transform: capitalize;
    margin: 30px 0;
  }

  &__text {
    margin-bottom: 65px;
  }
}
