.steps-section {
  padding: 120px 0
  background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(23,116,214,1) 100%)
  @media (max-width: 960px) {
    padding: 30px 0
  }
}

.step-list {
  font-family: 'Open Sans', sans-serif;
}

.step {
  &__number {
    color: #42b3e5;
    font-size: 50px;
    line-height: 0.9;
    letter-spacing: 1px;
    padding-bottom: 15px
  }
  &__title {
    color: #fff
    margin-bottom: 10px
  }
  &__text {
    color: #a8cee7
    font-size: 14px
    line-height: 1.4
    letter-spacing: 0
  }
}
