.typing-spinner {
  display: inline-flex
  align-items: center
  vertical-align: bottom
  opacity: 0
  height: 1.35em
  transition: opacity .1s
  pointer-events: none
  position: absolute
  top: 50%
  transform: translateY(-50%)
  &--isShow {
    opacity: 1
  }
  &__ball {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 5px;
    border-radius: 50%;
    &:first-child {
      opacity: .9;
      animation: typing-ball .9s linear infinite;
    }
    &:nth-child(2) {
      opacity: .3;
      animation: typing-ball .9s .225s linear infinite;
    }
    &:last-child {
      opacity: .6;
      animation: typing-ball .9s .45s linear infinite;
    }
  }
}
