.profile {
  padding-bottom: 0
  &__tab-section {
    padding: 0 40px
    padding-top: 25px
    height: 360px
    &:not(:first-child) {
      border-top: 1px solid #dedede
    }
  }
  &__tab-title {
    font-weight: bold
    text-transform: uppercase
  }
  &__footer {
    border-top: 1px solid #dedede
    background: #fafafa
    padding: 15px 40px
    justify-content: flex-end
  }
}
