.video-section {
  background: url('~assets/descr-bg.jpg')
  background-attachment: fixed
  background-size: cover;
  background-position: top center
  padding-top: 90px;
  padding-bottom: 90px;
  color: #fff
}
