.video-section {
  background: url('~assets/descr-bg.jpg')
  background-attachment: fixed
  background-size: cover;
  background-position: top center
  padding-top: 90px;
  padding-bottom: 90px;
  color: #fff
  text-align: center
  &__text {
    font-size: 20px;
    color: #aaa;
    text-align: center;
    font-weight: normal;
    //padding-top: 25px;
    margin-top: 20px;
    line-height: 35px;
  }
  .section-title {
    color: #fff
  }
}
