.advantages {
  background: #3895de
  padding: 20px 0
  &__container {
    display: flex
    justify-content: center
    @media (max-width: 880px) {
      flex-wrap: wrap
      padding: 0 10px
    }
  }
}

.advantage {
  display: flex
  align-items: center
  @media (max-width: 880px) {
    flex: 1 auto
    justify-content: center
  }
  &__icon {
    width: 100px
  }
  &__text {
    display: flex
    align-items: center
  }
}

.chiffre-font {
  color: #ffffff;
  font-size: 48px;
  text-align: left;
  padding-right: 3px;
}

.text-font{
  color: #fff;
  font-size: 20px;
  line-height: 32px;
  margin-left: 5px
  text-align: left;
  font-weight: normal;
  display: inline-block;
  position: relative;
  top: 5px;
}
