@import "assets/styles/mixins/mixins.scss";

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  &-body {
	margin-top: 40px;
	width: 100%;
	flex: 1 auto;
	overflow: auto;
	@media (max-width: 350px) {
	  margin-top: 10px;
	}
	&__wrapper {
	  @include chat-width;
	  @media (max-width: 350px) {
		padding: 0 18px;
	  }
	}
  }

  &-footer {
	width: 100%;
	margin: 40px auto 0;
	@include chat-width;
  }
}
