@import "./animation.scss";


* {
  box-sizing: border-box;
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none;
}

:focus {
  outline: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

li, ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, td, th {
  text-align: left;
  font-weight: 400;
}

blockquote, q {
  quotes: "" "";
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

a {
  color: inherit;
}

input[type=submit] {
  cursor: pointer;
}

body, .v-application {
  font-family: 'PT Sans', sans-serif;
  background: #fff !important;
}


.section-title {
  margin: 0 50px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background: #6BC2F1;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &:after {
    position: absolute;
    content: "\FA41";
    bottom: 0;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 28px;
    color: #6BC2F1;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 30px;
    height: 15px;
    background: #fff;
  }
  h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
    color: #34495E;
    position: relative;
  }
}


.response-message {
  margin-top: 20px;
  &__text {
    padding: 0 5px;
    border-radius: 3px;
  }
  &__resend-confirm {
    text-decoration: underline;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}

.v-application p {
  margin: 0;
}
