* {
  box-sizing: border-box
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none
}

:focus {
  outline: 0
}

li, ol, ul {
  list-style: none
}

table {
  border-collapse: separate;
  border-spacing: 0
}

caption, td, th {
  text-align: left;
  font-weight: 400
}

blockquote, q {
  quotes: "" ""
}

img {
  max-width: 100%
}

a {
  color: inherit
}

input[type=submit] {
  cursor: pointer
}

body {
  font-family: 'Open Sans', sans-serif
  background: #fff
}

.container {
  width: 960px
  margin: 0 auto
  padding: 0
}

.section-title {
  font-size: 36px
  color: #696969
  text-align: center
  font-weight: 600
  line-height: 40px
  padding-bottom: 25px
  position: relative
  &:after {
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin: 0 auto
    height: 5px;
    background: #e68b7e;
    width: 80px;
    text-align: center;
  }
}
