/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }
body {
  line-height: 1; }
ol, ul {
  list-style: none; }
blockquote, q {
  quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }
table {
  border-collapse: collapse;
  border-spacing: 0; }


/* #Basic Styles
================================================== */
body {
  background: #fff;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}


/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }
.subheader { color: #777; }

p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }

em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }

/*	Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
a, a:visited { color: #333; text-decoration: underline; outline: 0; }
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }

/* #Images
================================================== */

img.scale-with-grid {
  max-width: 100%;
  height: auto; }


/* #Buttons
================================================== */



/* #Forms
================================================== */



/* #Misc
================================================== */
.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }





/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

.container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
.container .column,
.container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.row                                        { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha               { margin-left: 0; }
.column.omega, .columns.omega               { margin-right: 0; }

/* Base Grid */
.container .one.column,
.container .one.columns                     { width: 40px;  }
.container .two.columns                     { width: 100px; }
.container .three.columns                   { width: 160px; }
.container .four.columns                    { width: 220px; }
.container .five.columns                    { width: 280px; }
.container .six.columns                     { width: 340px; }
.container .seven.columns                   { width: 400px; }
.container .eight.columns                   { width: 460px; }
.container .nine.columns                    { width: 520px; }
.container .ten.columns                     { width: 580px; }
.container .eleven.columns                  { width: 640px; }
.container .twelve.columns                  { width: 700px; }
.container .thirteen.columns                { width: 760px; }
.container .fourteen.columns                { width: 820px; }
.container .fifteen.columns                 { width: 880px; }
.container .sixteen.columns                 { width: 940px; }

.container .one-third.column                { width: 300px; }
.container .two-thirds.column               { width: 620px; }

/* Offsets */
.container .offset-by-one                   { padding-left: 60px;  }
.container .offset-by-two                   { padding-left: 120px; }
.container .offset-by-three                 { padding-left: 180px; }
.container .offset-by-four                  { padding-left: 240px; }
.container .offset-by-five                  { padding-left: 300px; }
.container .offset-by-six                   { padding-left: 360px; }
.container .offset-by-seven                 { padding-left: 420px; }
.container .offset-by-eight                 { padding-left: 480px; }
.container .offset-by-nine                  { padding-left: 540px; }
.container .offset-by-ten                   { padding-left: 600px; }
.container .offset-by-eleven                { padding-left: 660px; }
.container .offset-by-twelve                { padding-left: 720px; }
.container .offset-by-thirteen              { padding-left: 780px; }
.container .offset-by-fourteen              { padding-left: 840px; }
.container .offset-by-fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container                                  { width: 768px; }
  .container .column,
  .container .columns                         { margin-left: 10px; margin-right: 10px;  }
  .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
  .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
  .alpha.omega                                { margin-left: 0; margin-right: 0; }

  .container .one.column,
  .container .one.columns                     { width: 28px; }
  .container .two.columns                     { width: 76px; }
  .container .three.columns                   { width: 124px; }
  .container .four.columns                    { width: 172px; }
  .container .five.columns                    { width: 220px; }
  .container .six.columns                     { width: 268px; }
  .container .seven.columns                   { width: 316px; }
  .container .eight.columns                   { width: 364px; }
  .container .nine.columns                    { width: 412px; }
  .container .ten.columns                     { width: 460px; }
  .container .eleven.columns                  { width: 508px; }
  .container .twelve.columns                  { width: 556px; }
  .container .thirteen.columns                { width: 604px; }
  .container .fourteen.columns                { width: 652px; }
  .container .fifteen.columns                 { width: 700px; }
  .container .sixteen.columns                 { width: 748px; }

  .container .one-third.column                { width: 236px; }
  .container .two-thirds.column               { width: 492px; }

  /* Offsets */
  .container .offset-by-one                   { padding-left: 48px; }
  .container .offset-by-two                   { padding-left: 96px; }
  .container .offset-by-three                 { padding-left: 144px; }
  .container .offset-by-four                  { padding-left: 192px; }
  .container .offset-by-five                  { padding-left: 240px; }
  .container .offset-by-six                   { padding-left: 288px; }
  .container .offset-by-seven                 { padding-left: 336px; }
  .container .offset-by-eight                 { padding-left: 384px; }
  .container .offset-by-nine                  { padding-left: 432px; }
  .container .offset-by-ten                   { padding-left: 480px; }
  .container .offset-by-eleven                { padding-left: 528px; }
  .container .offset-by-twelve                { padding-left: 576px; }
  .container .offset-by-thirteen              { padding-left: 624px; }
  .container .offset-by-fourteen              { padding-left: 672px; }
  .container .offset-by-fifteen               { padding-left: 720px; }
}


/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
  .container { width: 300px; }
  .container .columns,
  .container .column { margin: 0; }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column  { width: 300px; }

  /* Offsets */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen { padding-left: 0; }

}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container { width: 420px; }
  .container .columns,
  .container .column { margin: 0; }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column { width: 420px; }
}


/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


/*-- my Clinic */

.bottom_border{
  border-bottom: 5px solid #c8c1c1;}
.top_1{
  padding-top: 25px;
  padding-bottom: 15px;}

.logo1_font{
  color:#696969;
  font-family:'Open Sans', sans-serif;
  font-size:36px;
  font-weight: bold;}

.logo2_font{
  color:#a9a9a9;
  font-size:20px;
  font-family:'Open Sans', sans-serif;
  font-weight: normal;
}
.point_font{
  font-family: 'Open Sans', sans-serif;
  color: rgb(230, 139, 126);
  font-size: 36px;
  font-weight: bold;
}
.blockquote {
  padding:	8px 10px;
  width: 100%;
  border-radius: 5px;
  background-color: #eee;
  border: 1px solid #dedede;
  position: relative;
  display: block;
  float: right;
  text-align: center;

}

.fb_span{
  position: relative;
  top: -20px!important;
  height: 20px;
}

.social_span{
  padding: 0px 0px;
  position: relative;
  padding-top: 15px;
  top: 3px;
}
.c1{
  display: inline-block;
  height: 20px;
  width: 60px;
  margin-left: 20px;
}
.twitter-share-button{ margin-right: 20px;}
/*Welcome to our High Quality */

.main_bg{
  background-attachment : fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.top_2{
  padding-top: 90px;
  padding-bottom: 90px;}

.welcome_font{
  font-size:32px;
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 50px;
}
.text1_font{
  font-size:20px;
  color:#d3d3d3;
  font-family:'Open Sans', sans-serif;
  text-align:left;
  margin-bottom: 30px;
  display: inline-block;
  line-height: 30px;}
.text2_font{
  font-size:16px;
  color:#a9a9a9;
  font-family:'Open Sans', sans-serif;
  text-align:left;
  font-style: italic;
  line-height: 20px;
}
.text3_font{
  font-size:16px;
  color:#d3d3d3;
  font-family:'Open Sans', sans-serif;
  text-align:left;
  font-style: italic;
  font-weight: bold;}


.top-20{padding-top: 20px;}

.box_heart1{
  height: 350px;
  left: 0;
  text-align: center;
  margin-top: 30px;
}
.box_heart1 img{
  max-width: 100%;}

.submit_btn1 a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  border: 3px solid #fff;
  font-family:'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 3px;
  text-align: center;
  margin-right: 5px;
  border-radius: 4px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.submit_btn1:hover a{
  color: #e68b7e;
  color: #e68b7e;
  background:#fff;
}

/*specialized medical staff*/

.sub_bg_2{
  background: #3e70bb;
  border-top: 2px solid #267d10;
}
.big_box{
  position: relative;
}
.img_box {
  /*display: inline-block;*/
  width: 100px;
  position: absolute;
  left: 0;
}
.img_box img{
  position: relative;
  width: 100px;
  height: 100px;
  left: 0;
  padding-top: 18px;
}
.inlinedisplay {
  display: inline-block;
  margin: 30px 0px;
  margin-left: 90px;

}

/*Why to choose us  .....*/
.sub_bg_3{
  background: #fff;
}
.header_margin2{
  margin-top: 80px;
  margin-bottom: 70px;
  border: 1px solid #dddddd;
  padding-top: 70px;
  padding-bottom: 70px;
}
.titre_{
  color: #808080;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  padding-top: 40;
}
.text_{
  color: #a9a9a9;
  line-height: normal;
  font-family: 'Open Sans', sans-serif;
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
}
.text_sub{
  color: #a9a9a9;
  line-height: 30px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  color: #999;
}


.why_font{
  font-size:36px;
  color:#696969;
  font-family:'Open Sans', sans-serif;
  text-align:center;
  font-weight: 600;
  line-height: 40px;
  padding-bottom: 25px;
}
.why_resp_font{
  font-size:18px;
  color:#808080;
  font-family:'Open Sans', sans-serif;
  text-align:center;
  font-weight: normal;
  padding-top: 25px;
  margin-bottom: 50px;
}
.div_center{
  text-align:center;
}
.div-center img{
  max-width: 100%;}

.sous_header{
  height: 5px;
  background: #e68b7e;
  width:80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.top_3{padding-top: 35px;
  padding-bottom: 15px;}


/*Our  services  .....*/
.bottom_50 {
  margin-bottom: 50px;
}
.sub_bg_1{
  background: #eee;
}
top_4{
  padding-top: 10px;
  padding-bottom: 15px;}

.text_starts{
  color: #e68b7e;
  font-size: 12px;
  line-height: normal;
  font-family:'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;}

.div_center_service{
  text-align:center;
  background-color: #fff;
  margin: 30px;
  border-radius: 5px;
}
.div-center_service img{
  width: 100% !important;}

.titre_2{
  color: #808080;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  padding-top: 40;
}
.services_font{
  font-size:36px;
  color:#696969;
  font-family:'Open Sans', sans-serif;
  text-align:center;
  font-weight: bold;
  padding-bottom: 25px;
}
.service_resp_font{
  font-size:16px;
  color:#808080;
  font-family:'Open Sans', sans-serif;
  text-align:center;
  font-weight: normal;
  //padding-top: 25px;
  margin-bottom: 30px;
}
.service_img_box{
  position: relative;
  width: 100%;
  height: 185px;
  left: 0;
  text-align: center;
}
.top_b{
  padding-bottom: 50px;
  padding-top: 90px;
}


/*This video is about our work*/
.video_div { text-align: center; }
.video_font{ font-size:36px;font-family:'Open Sans', sans-serif;text-align:center;font-weight: bold;padding-bottom: 25px;	color: #fff;line-height: 40px; }
.video_tagline_font{
  font-size:20px;
  color:#aaa;
  font-family:'Open Sans', sans-serif;
  text-align:center;
  font-weight: normal;
  //padding-top: 25px;
  margin-top: 20px;
  line-height: 35px;
}
.video_span { background: rgba(255,255,255,0.2);padding: 8px;display: inline-block;padding-bottom: 2px;border-radius: 3px;margin-top: 30px;border: 1px solid #888;max-width: 100% !important; }
.video_span iframe { max-width: 100%;}

/*What our patients say about us*/


.border_say{
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #Fff;
  text-align:center;
  position: relative;
  width: 100%;
}
.border_say img{
  width: 100% !important;
  margin-bottom: -6px;
}
.patients_titre{
  color:#696969;
  font-size: 36px;
  font-family:'Open Sans', sans-serif;
  text-align: center;
  padding-bottom: 25px;
  line-height: 40px;
}
.patients_font{
  color:#808080;
  font-size: 18px;
  font-family:'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-top: 55px;
  padding-bottom: 20px;
}
.maria{
  color:#e68b7e;
  font-size: 12px;
  font-family:'Open Sans', sans-serif;
}
.bottom25{
  padding-bottom: 25px;
}

.top_5{
  padding-bottom: 90px;
  padding-top: 90px;
}

/*Information */
.sub_bg_4{
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding-top: 30px;
  background-color: #fff;
  float: left;
}
#contact_form{
  font-size: 11px;
  font-weight: bold;
  color: #666666;
  margin-right: auto;
  padding-left: 40px;
  margin-left: auto;
}
#contact_form legend{
  font-size: 15px;
  color: #C9C9C9;
}
#contact_form label{
  margin-bottom:5px;
  color: #e28484;
  font-size: 14px;
  font-family: arial;
  font-weight: bold;
}
#contact_form label span{
  float:left;
  color: #e28484;
  font-size: 14px;
  font-family: arial;
  font-weight: bold;
}
#contact_form input{
  height: 25px;
  border-radius: 3px;
  padding-left: 4px;
  border: 1px solid #bbb0b0;
  border-radius: 3px;
  background: #fff;
  color: #000;
  width: 85%;
  max-width: 96%;
}
#contact_form textarea{
  border-radius: 3px;
  padding-left: 4px;
  height: 5em;
  width: 30em;
  border: 1px solid #bbb0b0;
  border-radius: 3px;
  background: #fff;
  color: #000;
  width: 85%;
  max-width: 96%;}

.submit_btn{
  color: #e68b7e;
  text-decoration: none;
  display: inline-block;
  border: 3px solid #e68b7e;
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  border-radius: 3px;
  text-align: center;
  width: 87%;
  max-width: 96%;
  background:#fff;
}
.submit_btn:hover{
  color: #fff;
  background:#e68b7e;
  border: 3px solid #e68b7e;
}
.contact_font{
  color: #e68b7e;
  font-style: 'Open Sans', sans-serif;
  font-size: 36px;
  padding-left: 30px;
}
.available_font{
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  color: rgb(128, 128, 128);
  line-height: 8px;
  margin-top: 20px;
  list-style: disc;
  padding-left: 45px;
}
.info_font {
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  color: #808080;
  line-height: 8px;
  margin-top: 20px;
  list-style: disc;
  padding-left: 40px;
  padding-bottom: 10px;
}

.iframe_center{
  padding-bottom:30px;

  height: 339px ;
  width: 100%;
  position: relative;
  display: block;
}
.iframe_center iframe{
  height: 339px;
  position: relative;
  padding:0px 30px;
  max-width: 80%;
}
.sub_bg_5{
  background-color: #dcdee0;
}
.love_font{
  color: #a9a9a9;
  //color: #dcdee0;
  font-family:'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.success{
  background: #CFFFF5;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #B9ECCE;
  border-radius: 5px;
  font-weight: normal;
}
.error{
  background: #FFDFDF;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #FFCACA;
  border-radius: 5px;
  font-weight: normal;
}




.confirm_page{
  display:none;
  height: auto;
}
.confirm_header{
  text-align: center;
  color:#fbc1b8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 26px;
}
.confirm_text{
  text-align: center;
  font-size:14px;
  color:#808080;
  font-family: 'Open Sans', sans-serif;
  max-width: 500px;
  padding: 30px;
}
.confirm_logo{
  text-align: center;
  padding: 20px;
}
.confirm_social{
  text-align: center;
}
.confirm_gp {
  position: relative;
  top: -12px;
  padding: 0px 20px;
}



